<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-sm-3"> </div>
          <div class="col-lg-4 col-sm-6">
              <div class="card card-profile text-center mt-5">
                  <div class="card-avatar pt-1">
                          <img class="img" src="assets/profile.png">
                  </div>
                  <div class="card-body">
                      <h1><b>My Account</b></h1>
                      <h2>User: {{ username }} </h2>
                      <h2>Rol: {{ rol }} </h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
