<form class="example-container" [formGroup]="form" (submit)="operate()" #frmSign="ngForm">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="idPatient">
      </mat-form-field>
  </div>

<div class="col-sm-12 row">



  <div class="add">
    <button mat-raised-button color="warn" type="button" (click)="newPatient()" >
        <mat-icon>add</mat-icon>
        <span>New Patient</span>
    </button>
  </div>
</div>

<mat-form-field class="col-sm-10">
  <mat-select placeholder="Select Patient" formControlName="idPatient">
      <mat-option *ngFor="let p of (patients$ | async)" [value]="p.idPatient">
          {{p.firstName}} {{p.lastName}}
      </mat-option>
  </mat-select>
  <small *ngIf="f['idPatient'].errors?.['required'] && f['idPatient'].touched"
      class="invalid">Is
      required</small>
</mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Select a date</mat-label>
    <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="vitalsigndate">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperature" required formControlName="temperature">
    <small *ngIf="f['temperature'].errors?.['required'] && f['temperature'].touched"
        class="invalid">Is
        required</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulse" required formControlName="pulse">
    <small *ngIf="f['pulse'].errors?.['required'] && f['pulse'].touched" class="invalid">Is
        required</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Respiratory Rate" required formControlName="rate">
    <small *ngIf="f['rate'].errors?.['required'] && f['rate'].touched" class="invalid">Is
        required</small>
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="frmSign.invalid">
      <mat-icon>done</mat-icon>
      <span>Done</span>
  </button>

  <button mat-raised-button color="accent" type="button" routerLink="/pages/vitalsign">
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
  </button>

</form>
