<mat-dialog-content>
    <mat-toolbar>
        <span>Medic Dialog</span>
      </mat-toolbar>

    <div>
        <mat-form-field>
            <input matInput placeholder="Primary Name" [(ngModel)]="medic.primaryName">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Surname" [(ngModel)]="medic.surname">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CMP Medic" [(ngModel)]="medic.cmpMedic">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Photo" [(ngModel)]="medic.photo">
        </mat-form-field>

        <img mat-card-image [src]="medic.photo" width="50%" height="50%" *ngIf="medic.photo">
    </div>

    <button mat-raised-button color="primary" (click)="operate()">Done</button>
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
</mat-dialog-content>